body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    padding-top: 80px;
    position: relative;
    background-color: #eaf6f6;
}

.bottom-cloud{
    position: absolute;
    left:280px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 70px;
}

.web-img{
    float: left;
    margin-right: 30px;
}

.c-img{
    float: right;
    margin-left: 30px;
}

h1{
    font-family: 'Sacramento', cursive;
    color:#66BFBF;
    font-size: 5.625rem;  /* 16px = 100% = 1em*. I would recommend that you use rem.*/
    margin: 50px auto 0 auto;
}
    

h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-size: 2.5rem;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
}

#desc{
    font-weight: normal;
    line-height: 2;
}

.skill-row{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}

.profile{
    margin-top: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.para{
    color: #40514e;
}

hr {
    width: 25%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.contact-me h2{
    margin-bottom: 60px;
}

.contact-me h3{
    margin-bottom: 50px;
}

.bottom-container{
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 60px;
}

.copyright {
    color: #eaf6f6;
    margin-top: 40px;
}

.BUTTON_RFZ {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_RFZ:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }